kbn-network-agg-table,
kbn-network-agg-table-group {
  display: block;
}

.striped-rows .kbnAggTable__paginated {
  tr:nth-child(odd) td {
    background-color: lighten($euiColorLightestShade, 2%);
  }

  tr:hover td {
    background-color: $euiColorLightestShade;
  }
}
