.enhanced-table-vis-params {

  .computed-columns .euiButtonIcon {
    font-size: 0.8rem;
    min-width: 12px;
    padding: 0px;
  }

  .ng-invalid.ng-touched .form-control, .ng-invalid.display-error .form-control {
    border-color: #BD271E;
  }
}

